<a href="#" class="btn small" id="colorpicker" data-color-format="hex" data-color="rgb(255, 255, 255)">Change background color</a>

<%= link_to 'Сменить цвет выходных', '#', class: 'btn btn-primary' %>


<script type="text/javascript">
    $('#colorpicker').colorpicker()
</script>


