<%= simple_form_for @soldier, url: soldier_path(@soldier), method: 'put' do |f| %>

    <%= render partial: 'soldiers/form', locals: {f: f} %>

    <%= link_to soldiers_path, class: 'btn btn-primary' do
      raw '<span class="glyphicon glyphicon-chevron-left"></span> Назад'
    end
    %>
    <%= f.submit 'Сохранить', class: 'btn btn-primary' %>
<% end %>